{{- /* Related Posts Partial */ -}}

{{- $related := slice -}}
{{- $page := . -}}

{{- /* Get related posts by tags */ -}}
{{- if .Tags -}}
  {{- range .Tags -}}
    {{- $tag := . -}}
    {{- range where .Site.RegularPages "Tags" "intersect" (slice $tag) -}}
      {{- if ne .Permalink $page.Permalink -}}
        {{- $related = $related | append . -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- /* Remove duplicates and limit to 5 */ -}}
{{- $relatedUnique := slice -}}
{{- $relatedPermalinks := slice -}}
{{- range $related -}}
  {{- if not (in $relatedPermalinks .Permalink) -}}
    {{- $relatedUnique = $relatedUnique | append . -}}
    {{- $relatedPermalinks = $relatedPermalinks | append .Permalink -}}
  {{- end -}}
{{- end -}}

{{- if gt (len $relatedUnique) 0 -}}
  <div class="related-posts">
    <h3 class="related-posts-title">📚 関連記事</h3>
    <ul class="related-posts-list">
      {{- range first 5 $relatedUnique -}}
        <li class="related-posts-item">
          <a href="{{ .RelPermalink }}" class="related-posts-link">
            <span class="related-posts-date">{{ .PublishDate.Format "2006-01-02" }}</span>
            <span class="related-posts-text">{{ .Title }}</span>
          </a>
        </li>
      {{- end -}}
    </ul>
  </div>
{{- end -}}
